*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 100%;
    height: 100%;
}
header{
    background-image: linear-gradient(to top, white
    , rgb(201, 233, 233),rgba(15, 106, 148, 0.603));
}
#education{
    background-image: linear-gradient(to top, white
    , rgb(201, 233, 233),white);
}
#eduhover:hover{
    color: black;
}
#educationimg{
    opacity: 0.6;
}
.hero_container{
    position: relative;
    width: 100%;
    height: 100px;
    padding-top: 25px;
}
.hero_content{
    letter-spacing: 2pt;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link:hover{
    text-decoration: underline;
}