*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background-color: azure;
}

.hero_container{
    position: relative;
    width: 100%;
    height: 200px;
    background-image: url("https://image.shutterstock.com/image-photo/abstract-dark-blue-template-background-260nw-603195212.jpg");
}

.hero_content{
    color:azure;
    letter-spacing: 2pt;
    font-size: 30px;
    position: absolute;
    left: 540px;
    bottom: 90px;
}

.navbar{
    margin-top: 5px;
    padding: 8px;
    background-color: #1683B2;
}

.navbar_list{
    color: azure;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#nav1:hover, #nav2:hover, #nav3:hover, #nav4:hover, #nav5:hover, #nav6:hover{
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}